.Character
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 29px;
    height: 29px;
    cursor: pointer;
}

.Vowel
{
    background-color: blueviolet;
}

.Consonant
{
    background-color: lawngreen;
}

.Space
{
    background: blueviolet;
    background: linear-gradient(to top right, blueviolet, lawngreen);
}