.Character
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: -1px -1px 0 0;
}

.Vowel
{
    background-color: #FC766AFF;
}

.Consonant
{
    background-color: #5B84B1FF;
}

.Space
{
    background: linear-gradient(to top right, #FC766AFF, #5B84B1FF);
}